<!DOCTYPE html>

<html>
<head>
  <title>Flaflow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <% include nav.html %>
  
  <%- body %>

  <div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 

      <div class="one_quarter first">
        <h6 class="title">联系我们</h6>
        <address class="btmspace-15">
        绍兴上虞迪斯尼电子商务有限公司<br>
        绍兴上虞百官王充路555号<br>        
        邮编: 312375
        </address>
        <ul class="nospace">
          <li><span class="fa fa-phone"></span> +01 (86) 1596188938</li>
          <li><span class="fa fa-envelope-o"></span> xuyaojie@sydsn.cn</li>
        </ul>
      </div>

      <div class="one_quarter">
        <h6 class="title">淘宝店铺</h6>
        <article>
          <h2 class="nospace font-x1"><a href="https://www.taobao.com">上虞迪斯尼电子商务</a></h2>
          <!-- <time class="font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time> -->
          <p>我们7 x 24 小时接待。我们在收到你的订单后10分钟内回应。1天内发货。</p>
        </article>
      </div>

      <div class="one_quarter">
        <h6 class="title">其他产品</h6>
        <ul class="nospace linklist">
          <li><a href="#">产品地址1</a></li>
          <li><a href="#">产品地址2</a></li>
          <li><a href="#">产品地址3</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="title">我们承诺</h6>
        <p>诚信买卖，双方互赢</p>
        <p>专人压货，保质保量</p>
        <p>全年无休，客户至上</p>
      </div>
    </footer>
  </div>
  
<!--   
  <div class="wrapper row5">
    <div id="newsletter" class="hoc clear"> 
      <div class="one_quarter first">
        <h6 class="heading"><i class="fa fa-newspaper-o"></i> Latest News</h6>
      </div>
      <form class="three_quarter" method="post" action="#">
        <div class="clear">
          <input class="one_third first" type="text" value="" placeholder="Name" required>
          <input class="one_third" type="email" value="" placeholder="Email" required>
          <button class="one_third" type="submit" title="Sign Up">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
 -->  


  <div class="wrapper row6">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">www.sydsn.cn</a></p>
      <p class="fl_right">Powered by <a target="_blank" href="#" title="">LaoNiu</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>

  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="/layout/scripts/jquery.min.js"></script>
  <script src="/layout/scripts/jquery.backtotop.js"></script>
  <script src="/layout/scripts/jquery.mobilemenu.js"></script>
  <!-- IE9 Placeholder Support -->
  <script src="/layout/scripts/jquery.placeholder.min.js"></script>
  <!-- / IE9 Placeholder Support -->
</body>
</html>