 <div class="bgded overlay" style="background-image:url('/images/tap_background.jpg');"> 
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <header id="header" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
          <h1><a href="/">ShangYu DiSiNi 电子商务</a></h1>
        </div>

        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li class="active"><a href="/">首页</a></li>
            <li><a class="drop" href="#">Pages</a>
              <ul>
                <li><a href="/gallery.html">Gallery</a></li>
                <li><a href="/full-width.html">Full Width</a></li>
                <li><a href="/sidebar-left.html">Sidebar Left</a></li>
                <li><a href="/sidebar-right.html">Sidebar Right</a></li>
                <li><a href="/basic-grid.html">Basic Grid</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">Dropdown</a>
              <ul>
                <li><a href="#">Level 2</a></li>
                <li><a class="drop" href="#">Level 2 + Drop</a>
                  <ul>
                    <li><a href="#">Level 3</a></li>
                    <li><a href="#">Level 3</a></li>
                    <li><a href="#">Level 3</a></li>
                  </ul>
                </li>
                <li><a href="#">Level 2</a></li>
              </ul>
            </li>
            <li><a href="#">Link Text</a></li>
            <li><a href="#">Link Text</a></li>
          </ul>
        </nav>

        <!-- ################################################################################################ -->
      </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper">
      <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <div class="introtxt">
          <h2 class="heading">Vestibulum placer faucibus</h2>
          <p>Finibus sed tristique dui eu dui laoreet sed accumsan ex lacinia fusce blandit massa sagittis tincidunt porttitor fusce congue nisi sem vitae laoreet.</p>
        </div>
        <!-- ################################################################################################ -->
        <div class="clear"></div>
      </div>
    </div>
    <!-- ################################################################################################ -->
  </div>