<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="content"> 
      <div id="gallery">
        <figure>
          <header class="heading">我们的产品</header>
          <ul class="nospace clear">
            <%for(var i = 1; i < 9; i++){%>
              <li class="one_quarter <%=i%4==1?'first':''%>">
                <a href="#"><img src="images/production/production<%=i%>.jpg" alt=""></a>
              </li>
            <%}%>
          </ul>
          <figcaption>都是我们的诚心制作</figcaption>
        </figure>
      </div>
      <!--
      <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
      -->
    </div>
    <div class="clear"></div>
  </main>
</div>