<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="content"> 
      <h1>做一家专业而且诚心的公司</h1>
      <img class="imgr borderedbox inspace-5" src="../images/intro/intro1.jpg" alt="">
      <p>随着互联网经济的崛起，实体经济的调整，我们看到了我们的方向。所以我们决定是时候一展身手了。2016年2月16日，我们成立这个公司。</p>
      <p>我们有自己的实体工厂，我们有业界优秀的技师，当然我们有我们最周到的服务。而且我们的产品聚焦在<a>塑料制品</a>，<a>五金配件</a>，<a>文化用品</a>等几个类目上。</p>
      <img class="imgl borderedbox inspace-5" src="../images/intro/intro2.jpg" alt="">
      <p>从今年我们公司成立以来，我们的业务得到广泛的开展。</p>
      <p>每天，我们工厂要出多达20趟货物。有时候看到货车在工厂等待上货的时候，我们既感到高兴，也感到抱歉。高兴的是，我们能够得到这么多伙伴的肯定和相信，与我们进行愉快的业务往来；抱歉的是，我们因为要保证质量，无法做到大量出货，使得我们的伙伴们不能更快的得到我们的产品。好在我们已经在行动了。我们加大了产能，招聘了更多的技师。我们一定要在今年中，既保证质量又保证产能。设备的更新和购置也已经提上了日程.</p>
      <p>同时，我们也在进行电子商务上进行尝试。目前在<a>taobao</a>和<a>阿里巴巴</a>上，能够搜索到我们的店铺。另外我们的官网将进行增强，以后和网上业务进行无缝对接。</p>
      <div id="comments">
        <h2>我们的寄语</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">CEO</a>
                </address>
              </header>
              <div class="comcont">
                <p>老马说过，天下没有难做的生意。所以我们做的互赢的生意。</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">我们的客服</a>
                </address>
              </header>
              <div class="comcont">
                <p>这是一家靠谱的公司，我们的合作会一直进行下去。</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>